.content {
	margin: 15px;
	width: 911px;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #03131c;
	color: #fff;
	border-radius: 20px;
	line-height: 30px;
}

.content h3 {
	text-align: center;
}

.content p {
	text-align: center;
}