a {
	color: #fff;
	text-decoration: none;
}

.item {
	width: 26.25rem;
	height: 5rem;
	border-radius: 1.25rem;
	/* background: #8774E1; */
	margin: 0.94rem;
	display: flex;
}

.item:hover {
	background-color: red;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}

.item img {
	height: 4rem;
	border-radius: 50%;
	margin: 0.5rem;
}