.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post {
	display: flex;
	background-color: #171717;
	max-width: 50rem;
	min-width: 28rem;
	padding: 10px 15px;
	border-radius: 10px;
}

.post textarea {
	width: 100%;
	border: none;
	resize: none;
	font-family: Inter;
	font-size: 18px;
	background-color: #171717;
	color: #fff;
}

.post textarea:focus {
	outline: none;
}

.post button {
	width: 3.375rem;
	height: 3.375rem;
	padding-left: 0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8774e1;
	color: #fff;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}
