.content {
	display: flex;
	flex-direction: column-reverse;
}

.content .post {
	background-color: #171717;
	width: 50rem;
	display: flex;
	justify-content: space-between;
	margin: 15px;
	padding: 10px 15px;
	border-radius: 10px;
}

.post textarea {
	width: 100%;
	border: none;
	resize: none;
	font-family: Inter;
	font-size: 18px;
	background-color: #171717;
	color: #fff;
}

.post textarea:focus {
	outline: none;
}

.post button {
	width: 6rem;
	height: 100%;
	background-color: #8774e1;
	font-family: Inter;
	font-size: 16px;
	color: #fff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
