.wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #121212;
}

.wrapper h3 {
	color: #fff;
	font-size: 35px;
}

.wrapper svg {
	width: 100px;
	height: 100px;
	display: inline-block;
}
