.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 5rem;
	height: 100%;
	background-color: #000;
	position: fixed;
	left: 0;
}

.auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5rem;
	margin-bottom: 0.7rem;
}

.auth div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
}

.auth button {
	margin-top: 0.5rem;
	padding: 0.5rem 0.7rem;
	font-family: Inter;
	border: none;
	border-radius: 5px;
	background-color: #8774e1;
}
