.content {
	display: flex;
	background-color: #121212;
	margin: 15px;
}

.content img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 15px;
}

.content .name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content h3 {
	font-size: 2rem;
}