body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #0a171e;
}

.content {
	display: flex;
	justify-content: space-between;
	width: 1076px;
	margin: 0 auto;
}