.content {
	margin: 15px;
	width: 911px;
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	background-color: #03131c;
	color: #fff;
}

.dialogs {
	width: 316px;
}

.dialogs h4 {
	margin: 10px 15px;
}

.item {
	display: flex;
	position: relative;
	height: 62px;
	padding-left: 15px;
	border-top: 1px solid rgba(148, 205, 240, 0.2);
}

.item:hover {
	background-color: #052131;
	border-top: 1px solid rgba(148, 205, 240, 0.1);
}

.item img {
	margin-top: 8px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
}

.item a {
	padding: 16px;
	text-decoration: none;
	color: #fff;
}

.item a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }

.messages {
	width: 100%;
	height: 90vh;
	border-left: 1px solid rgba(148, 205, 240, 0.2);
}

.messages .dialog {
	margin: 30px 0 40px 20px;
}

.messages .dialog span {
	padding: 15px 25px;
	border-radius: 10px;
	background-color: #052131;
}