.contentWrapper {
	display: grid;
	grid-template-columns: 28.125rem auto;
	grid-template-rows: 100%;
	position: absolute;
	width: calc(100vw - 5rem);
	height: 100%;
	background-color: #121212;
}

.contentWrapper .dialogs {
	grid-row-start: 1;
	grid-column-start: 1;
	background-color: #171717;
	padding: 0.3rem 0.5rem 0;
}

.contentWrapper .chat {
	grid-row-start: 1;
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: calc(100vw - 5rem - 28.125rem);
	color: #fff;
}

.messages {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	gap: 0.6rem;
}

.wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	position: relative;
	width: calc(100vw - 5rem - 28.125rem);
}

.post {
	display: flex;
	justify-content: space-between;
	width: 80%;
	max-width: 50rem;
	background-color: #171717;
	margin: 15px;
	padding: 10px 15px;
	border-radius: 10px;
}

.post textarea {
	flex-grow: 1;
	border: none;
	resize: none;
	font-family: Inter;
	font-size: 18px;
	background-color: #171717;
	color: #fff;
}

.post textarea:focus {
	outline: none;
}

.post button {
	width: 3.375rem;
	height: 3.375rem;
	padding-left: 0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8774e1;
	color: #fff;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}
